.active {
  color: red;
}

html,body {
  transition: background-color 0.3s, color 0.3s;
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {

    animation: marquee 25s linear infinite;
    will-change: auto;

  }

  .testimonials-swiper {
    padding: 20px 0;
  }
  
  .testimonials-swiper .swiper-slide {
    height: auto;
  }
  
  /* Hide default Swiper navigation buttons */
  .testimonials-swiper .swiper-button-next::after,
  .testimonials-swiper .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next,
            .swiper-button-prev {
              display: none;
            }
            
            .swiper-button-next-custom.swiper-button-disabled,
            .swiper-button-prev-custom.swiper-button-disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
