services:
  - type: web
    name: spelling-bee-api
    env: node
    buildCommand: yarn install && yarn build
    startCommand: yarn start:prod
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: NODE_ENV
        value: production 